* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  position: fixed;
  margin-top: 0.6rem;
}
.SideBar {
  background-color: #11131c;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 600px;
  border-radius: 1rem;
  left: 0;
  z-index: 100;
}
.burgerIcon {
  display: inline-block;
  margin-top: -32rem;
  height: 2rem;
  width: 2rem;
  position: absolute;
}
.burgerIcon:hover {
  cursor: pointer;
}
.alternate_profile_picture_small_sideBar {
  height: 2rem;
  width: 2rem;
  position: absolute;
  background: linear-gradient(180deg, #7e73ff 0%, #5b4dff 100%);
  border-radius: 50%;
  margin-top: -23.5rem;
  z-index: 1;
}
.status_light {
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
  display: inline-block;
  margin-top: -22rem;
  margin-left: 1rem;
  z-index: 2;
}
.user_profile_picture {
  position: absolute;
  width: 77px;
  height: 77px;
  left: 90px;
  top: 50px;
  border-radius: 50%;
  background: #c4c4c4;
}
.user_name {
  position: absolute;
  width: 101px;
  height: 33px;
  left: 80px;
  top: 140px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}
.user_status {
  position: absolute;
  width: 66px;
  height: 21px;
  left: 95px;
  top: 180px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.4);
}
.functions_of_sidebar {
  position: absolute;
  width: 232px;
  height: 375px;
  left: 0px;
  top: 230px;
}
.NavLink_SideBar {
  text-decoration: none;
}
.side_bar_elments_list {
  display: flex;
  margin-left: 2.5rem;
}
.element {
  display: flex;
  align-items: center;
  line-height: 3.56rem;
}
.item_name {
  display: block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-left: 1rem;
}
.icons_sideBar {
  width: 19.45px;
  height: 20px;
}
.element::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #7e73ff 0%, #5b4dff 100%);
  width: 0px;
  height: 40px;
  left: 0px;
  margin-left: 0.2rem;
  border-radius: 0.1rem;
}
.element:hover:after {
  width: 6px;
  transition: all 0.3s ease-in-out;
}
