.crousal_main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: -100;
}
.crousal_main {
  z-index: 1;
  position: absolute;
  margin-top: -8.6rem;
  width: 1140px;
  height: 330px;
  background-color: rgba(95, 95, 167, 0.37);
  border-radius: 46px;
  margin-left: 3rem;
}

.biggest_div_no3 {
  z-index: 5;
  position: absolute;
  background-color: black;
  height: 260px;
  width: 580px;
  margin-left: 17rem;
  margin-top: 1.5rem;
  border-radius: 40px;
}
.containerStyles {
  width: 580px;
  height: 260px;
}
.big_div_no2 {
  z-index: 4;
  position: absolute;
  background-color: black;
  height: 220px;
  border-radius: 40px;
  width: 730px;
  margin-top: 2.6rem;
  margin-left: 12rem;
}
.medium_div_no1 {
  z-index: 3;
  position: absolute;
  background-color: black;
  height: 170px;
  border-radius: 40px;
  width: 830px;
  margin-left: 9rem;
  margin-top: 4rem;
}
